* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Gloria Hallelujah", cursive;
  /* background-color: #fbf5dd; */
}

header {
  height: 100vh;
}

#navbar {
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  z-index: 10;
  padding-top: 1rem;
  height: 55px;
  overflow: hidden;
}

.nav-list {
  display: flex;
  align-items: center;
  width: 100%;
  height: 70%;
  position: relative;
}

/* .nav-list {
display: flex;
align-items: center;
overflow: hidden;
width: 100%;
/* min-height: 60px; Tetapkan tinggi minimum navbar */
/* position: relative;
} */

.home-logo {
  margin-left: 4rem;
  width: 4rem;
  flex-shrink: 0;
}

.home-logo img {
  transform: scale(1.5);
  width: 100%; /* Membuat gambar mengisi container */
  height: auto; /* Menjaga aspect ratio */
  display: block; /* Menghilangkan space ekstra di bawah gambar */
}
/* Form pencarian */
/* .search-input-group {
  position: absolute;
  left: 100px; 
} */

/* Menu navigasi */
.nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  /* box shadow */
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  /* box shadow end */
  gap: 1rem;
  background-color: #3e220c;
  width: 20%; /* Mengubah width menjadi 50% */
  margin: 0 auto; /* Memberikan margin auto untuk center */
  padding: 3px 1rem;
  border-radius: 25px;
  /* Tambahan property untuk membuat nav-menu lebih responsif */
  min-width: fit-content; /* Memastikan lebar minimal sesuai konten */
  flex-wrap: nowrap; /* Mencegah wrapping pada item */
  overflow: hidden; /* Mencegah konten keluar */
}

.nav-menu li {
  padding: 0.2rem 0.5rem;
  white-space: nowrap;
  flex-shrink: 0;
}
/* hover animation START */
.nav-menu li a {
  position: relative;
  display: inline-block;
}

.nav-menu li a::before,
.nav-menu li a::after {
  content: "";
  position: absolute;
  display: block;
  border: 0px solid transparent;
  width: 0%;
  height: 0%;
  transition: all 0.3s ease;
}

.nav-menu li a::after {
  top: -3px;
  left: -4px;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
}

.nav-menu li a::before {
  right: -4px;
  bottom: -3px;
  border-bottom: 2px solid transparent;
  border-right: 2px solid transparent;
}

.nav-menu li a:hover::before,
.nav-menu li a:hover::after {
  width: 10px;
  height: 10px;
  border-color: #fbf5dd;
}

.shoping-cart {
  margin-right: 4rem;
  flex-shrink: 0;
}
/* end */

/* .search-input-group input {
  border-radius: 4px; 
  padding: 5px;
  margin-right: -1.9rem;
} */

.search-input-group button {
  margin-right: 1rem;
  border-radius: 4px;
}

/* landing page start */
main {
  display: flex;

  /* justify-content: center;
  align-items: center; */
}

.landing-img {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: url("img/IMG_2158.JPG") center/cover no-repeat;
}

.landing-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(139, 69, 19, 0.5);
  backdrop-filter: blur(3px);
  z-index: 1;
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  font-size: 5rem;
  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
/* landing page end */

/* about us start */
/* Style untuk section about us */
#about {
  width: 100%;
  height: 620px;
  display: flex;
  justify-content: center;
  background-color: #f4e7d1;
  padding-top: 8rem;
}

article {
  width: 100%;
  max-width: 1080px;
  text-align: center;
}

/* Style untuk paragraf */
article p {
  display: inline;
  font-size: 1.2rem;
  font-family: "Patrick Hand", cursive;
  line-height: 1.8;
  letter-spacing: 2px;
  color: #5a4632;
  max-width: 80%;
  margin: 0 auto;
}

/* about us end */

/* menu section start*/
.menu {
  font-family: "Gloria Hallelujah", cursive;

  width: 100%;
  height: 100vh;
  /* padding: 1em; */
  display: flex;
}

.foto-product {
  display: flex;
  flex: 1;
}

.foto-product img {
  width: 100%;
  height: auto;
  object-fit: cover; /* Atau 'contain' jika ingin mempertahankan rasio */
  margin: 0;
  padding: 0;
  display: block; /* Menghapus space bawaan inline-block pada gambar */
}

.products {
  /* padding-top: 1em; */

  background-color: #331702;
  display: flex;
  justify-content: start;
  flex: 1;
  padding-left: 3em;
  padding-top: 1.5em;
  /* width: 600px;
  height: 700px; */
}

.coffee-menu {
  /* margin-top: 2em; */
  display: grid;
  grid-template-rows: 130px 80px 80px 80px 80px;
  gap: 1em;
  letter-spacing: 0.3rem;
}

.product {
  width: 100%;
  padding-right: 3em;
  position: relative;
  overflow: hidden;
}
/* menu section end */


/* buyer gallery start */

.buyer-gallery{
  width: 100%;
  height: 110vh;
  background-color: #f4e7d1;
  /* overflow: auto; */
}


.gallery-img{
  margin-top: 2em;
  /* border: 1px solid black; */
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: repeat(2,0.4fr);
  grid-template-columns: 295px 295px 295px 250px 295px;
  /* gap: 1em; */
  place-items: center; 
  background-color: #f4e7d1;
  /* overflow-x: auto;
  overflow-y: hidden;  */

  /* overflow: auto; */

}

.b1c1{
  display: grid;
  place-items: center;
  background-color: white;
  width: 315px;
  height: 200px;
  transform: rotate(-5deg);
  /* place-items: center; */
}

.b1c1 img{
  padding: 5px;
  width: 295px;
  height: 175px;
  object-fit: cover;
}

.b1c2{
  z-index: 5;
  display: grid;
  place-items: center;
  background-color: white;
  width: 315px;
  height: 200px;
  transform: rotate(10deg); 
  /* place-items: center; */
}

.b1c2 img{
  padding-bottom: 5px;
  width: 295px;
  height: 175px;
  object-fit: cover;
}
.b1c3{
  display: grid;
  place-items: center;
  background-color: white;
  width: 315px;
  height: 200px;
  transform: rotate(-5deg);
  /* place-items: center; */
}

.b1c3 img{
  padding-bottom: 10px;
  width: 295px;
  height: 175px;
  object-fit: cover;
}
.b1c4{
  transform: rotate(-2deg);
  z-index: 3;
  display: grid;
  place-items: center;
  background-color: white;
  width: 250px;
  height: 270px;
  /* place-items: center; */
}

.b1c4 img{
  padding: 10px;
  width: 240px;
  height: 245px;
  object-fit: cover;
}

.b1c5{
  display: grid;
  place-items: center;
  background-color: white;
  width: 315px;
  height: 200px;
  transform: rotate(7deg);
  /* margin-right: 3em; */
  /* place-items: center; */
}

.b1c5 img{
  padding: 5px;
  width: 295px;
  height: 175px;
  object-fit: cover;
}
.b2c1{
  margin-top: -100px;
  display: grid;
  place-items: center;
  background-color: white;
  width: 315px;
  height: 200px;
  transform: rotate(7deg);
  /* margin-right: 3em; */
  /* place-items: center; */
}

.b2c1 img{
  padding: 5px;
  width: 295px;
  height: 175px;
  object-fit: cover;
}
.b2c2{
  z-index: 3;
  margin-top: -100px;
  display: grid;
  place-items: center;
  background-color: white;
  width: 315px;
  height: 200px;
  transform: rotate(7deg);
  /* margin-right: 3em; */
  /* place-items: center; */
}

.b2c2 img{
  padding: 5px;
  width: 295px;
  height: 175px;
  object-fit: cover;
}
.b2c3{
  margin-top: -100px;
  z-index: 5;
  display: grid;
  place-items: center;
  background-color: white;
  width: 315px;
  height: 200px;
  transform: rotate(-3deg);
  /* margin-right: 3em; */
  /* place-items: center; */
}

.b2c3 img{
  padding: 5px;
  width: 295px;
  height: 175px;
  object-fit: cover;
}

.b2c4{
  margin-top: -57px;
  display: grid;
  place-items: center;
  background-color: white;
  width: 315px;
  height: 200px;
  /* margin-right: 3em; */
  /* place-items: center; */
}

.b2c4 img{
  padding: 5px;
  width: 295px;
  height: 175px;
  object-fit: cover;
}
.b2c5{
  z-index: 3;
  margin-top: -40px;
  display: grid;
  place-items: center;
  background-color: white;
  width: 250px;
  height: 290px;
  transform: rotate(4deg);
  /* margin-right: 3em; */
  /* place-items: center; */
}

.b2c5 img{
  padding: 5px;
  width: 240px;
  height: 245px;
  object-fit: cover;
}

footer{
  color: white;
  background-color: #331702;
  width: 100%;
  height: 50vh;
}

/* untuk ladnscape size */
/* background */
/* widht 399.87, height: 319.61*/
/* img */
/* widht: 367.77, height: 230.58 */

/* for potrait size */
/* background */
/* widht: 305.94, height: 373.63 */
/* img */
/* widht: 272.1, height: 273.45 */


/* buyer gallery end */