body {
  font-family: "times new roman", sans-serif;
}

.nav-list {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  gap: 2rem; /* Tambahkan gap untuk spacing yang lebih baik */
}

.home-logo {
  width: 50px;
}

/* Form pencarian */
.search-input-group {
  position: absolute;
  left: 100px; /* Sesuaikan dengan kebutuhan */
}

/* Menu navigasi */
.nav-menu {
  display: flex;
  justify-content: center;
  gap: 2rem;
  width: 100%; /* Gunakan full width */
  margin-left: 0; /* Hapus margin auto */
  font-weight: bold;
}

.search-input-group input {
  border-radius: 4px; /* Corrected property name */
  padding: 5px;
  margin-right: -1.9rem;
}

.search-input-group button {
  border-radius: 4px; /* Corrected property name */
}
